* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    border: 0;
    font-size: 100%;
}

#photoload{
  display: none;
}

body{
  padding-top:70px;
  margin: 0 auto;
  text-align: center;
  color: #171717;
  background-color: white;
}

.instr{
  border-top: 3px solid #f6e58d;
  border-bottom: 3px solid #f6e58d;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  transition: top 0.4s; /* Transition effect when sliding down (and up) */
  background-color: white;
  width: 100%;
  padding: 10px 400px 0 400px;
  z-index: 9999;
}

.header h3{
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}

.subheader{
  font-size: 55px;
  font-family: 'Playfair Display', serif;
}

h1{
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

.banner{
  width: 660px;
  margin: 0 auto;
  padding: 50px 0;
}

.content p, ul{
  font-family: 'Tinos', serif;
  line-height: 1.9;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.content{
  width: calc(100vw - 750px);
  margin: 0 auto;
}

.sectiontitle{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;    
  font-size: 21px;
  font-weight: 700;
  text-align: left;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid #f6e58d;
  border-radius: 2px;
} 

section{
  padding-top: 30px;
  margin-top:30px;
}

/*Dataset Chart*/
/*SVG graph and on hover posters */

#dataposter{ 
  position:relative; 
  width: 1100px;
  margin: 0 auto;
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 400px;          
  height: 150px;
  top: 80px;
  left: 350px;
}

/*Env Posters - Hoverable*/
.hoverableThing {
  background-color: #10ac84;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.hoverableThing:hover {
  color: #009432;
  background-color: #f1f2f6;
}

#posterSide{
  position: fixed;
  top: 200px;
  right: 100px;
  width: 200px;
  z-index: -9999;
}

#posterSide img{
  width: 200px;
  border: 5px solid #73AD21;
}


/*ENV BAR CHART*/

.yearAxis line, .yearAxis path{
  stroke-width: 2px;
  stroke: #2d3436;
}

.yearAxis text {
  font-size: 13px;
}

text {
  font-family: 'Open Sans', sans-serif;
}  

.environmentsection, .populationsection{
  height: 400px;
  width: 1100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

#envChart, #envDesc, #popdesc, #popChart{
  display: inline-block;
  vertical-align: top;
}

#envGal{
  padding: 30px 0;
  width: 750px;
  margin: 0 auto;
}

/* The poster box for population chart*/
#popdesc{
  width: 250px;
  height: 400px;
  padding-top: 20px;
}

#popdesc img{
  height:220px;
}

#poplongdescription{
  margin: 0 auto;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  width: 700px;
  height: 170px;
  padding: 10px;
}

/*Keyword CSS*/
.small { font: italic 13px sans-serif; fill :#2f3640;)}
.heavy { font: bold 30px sans-serif; }
.medium { font: italic 16px sans-serif; fill: #353b48 }
.Rrrrr { font: italic 25px serif; fill: #2f3542; }
.popwordHovered{transition: fill 0.5s ease; fill: #ff7675; stroke: 2px; }

#populationSVG{
  width: 60%;
  padding-bottom: 40px;
  margin-left: -120px;
  margin-top: 20px;
  float: left;
}

#populationSVGposters{
  float:right;
  width: 500px;
  margin: -50px -50px 20px 0;
}

#threeSVGposters{
  float:right;
  width: 530px;
  margin: 50px -50px 20px 0;
}

#test{
  clear:both;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  height: 0px;
  transition: all 0.9s;
  overflow-y: hidden;
  width: 650px;
}

#threedesc{
  clear:both;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  height: 0px;
  transition: all 0.9s;
  overflow-y: hidden;
  width: 650px;
}

#threedesc p{
  line-height: 1.7em;
}

.keywordDesc{
  background-color: steelblue;
}

.graphic{
  margin: 50px auto;
  background-color: rgb(255,0,0, 0.05);
  height: 250px;
  width: 900px;
}

#diseaseSVG {
  margin: 0 auto;
}

#disease{
  position: relative;
  width: 935px;
  height: 490px;
  margin: 0 auto;
}

img.cloud { 
  position: absolute;     
  text-align: center;     
  top: 0px;
  left: 350px;
}

#theAbout a{
  color: steelblue;
  text-decoration: underline;
}

/*health chart*/

#disease ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: 360px;
}

#disease li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  text-decoration: underline;
  font-family: 'Roboto Mono', monospace;
}

#disease li:hover {
  font-weight: : bold;
  cursor: pointer ;
}

#disease li:visited{
  color: grey;
}



#heathSide{
  position: absolute;
  top: 100px;
  right: -180px;
  width: 150px;
  z-index: -9999;
}

#heathSide img{
  width: 150px;
  border: 5px solid #fdcb6e;
}

/*Change the screen size*/

@media only screen and (max-width: 1000px) {
.content{
  width: calc(110vh - 100px);
  margin: 0 auto;
}

#posterSide{
  position: fixed;
  top: 200px;
  right: 50px;
  width: 150px;
  z-index: -9999;
}

#posterSide img{
  width: 120px;
}

}

