* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    border: 0;
    font-size: 100%;
}

#photoload{
  display: none;
}

body{
  padding-top:70px;
  width: calc(100% - 50%);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  color: #171717;
  background-color: white;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  transition: top 0.4s; /* Transition effect when sliding down (and up) */
  background-color: white;
  width: 53%;
  padding: 10px;
  z-index: 9999;
}

.header h3{
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}

.subheader{
  font-size: 55px;
  font-family: 'Playfair Display', serif;
}

h1{
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

.banner{
  width: 660px;
  margin: 0 auto;
  padding: 50px 0;
}

.content p{
  font-family: 'Tinos', serif;
  line-height: 1.9;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.sectiontitle{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;    
  font-size: 21px;
  font-weight: 700;
  text-align: left;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid #f6e58d;
  border-radius: 2px;
} 

section{
  padding-top: 30px;
  margin-top:30px;
}

/*Dataset Chart*/
/*SVG graph and on hover posters */

#dataposter{ 
  position:relative; 
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 400px;          
  height: 150px;
  top: 80px;
  left: 200px;
}

/*Env Posters - Hoverable*/
.hoverableThing {
  background-color: #10ac84;
  color: white;
  font-weight: 700;
  cursor: default;
}

.hoverableThing:hover {
  color: #009432;
  background-color: #f1f2f6;
}

#posterSide{
  position: fixed;
  top: 200px;
  right: 100px;
  width: 200px;
  z-index: -9999;
}

#posterSide img{
  width: 200px;
  border: 5px solid #73AD21;
}

/*ENV BAR CHART*/

.environmentsection, .populationsection{
  height: 400px;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

#envChart, #envDesc, #popdesc, #popChart{
  display: inline-block;
  vertical-align: top;
}

#envGal{
  padding: 30px 0;
  width: 750px;
  margin: 0 auto;
}

/* The poster box for population chart*/
#popdesc{
  width: 250px;
  height: 400px;
  padding-top: 20px;
}

#popdesc img{
  height:220px;
}

#poplongdescription{
  margin: 30px 30px 30px 30px ;
  text-align: left;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  width: 90%;
  height: 100px;
  padding: 10px;
}

/*Keyword CSS*/
.small { font: italic 13px sans-serif; fill :#2f3640;)}
.heavy { font: bold 30px sans-serif; }
.medium { font: italic 16px sans-serif; fill: #353b48 }
.Rrrrr { font: italic 25px serif; fill: #2f3542; }
.popwordHovered{transition: fill 0.5s ease; fill: #ff7675; stroke: 2px; }

#populationSVG{
  width: 60%;
  padding-bottom: 40px;
  margin-left: -120px;
  margin-top: 20px;
  float: left;
}

#populationSVGposters{
  float:right;
  width: 500px;
  margin: -50px -50px 20px 0;
}

#threeSVGposters{
  float:right;
  width: 530px;
  margin: 50px -50px 20px 0;
}

#test{
  clear:both;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  height: 0px;
  transition: all 0.9s;
  overflow-y: hidden;
  width: 650px;
}

#threedesc{
  clear:both;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  height: 0px;
  transition: all 0.9s;
  overflow-y: hidden;
  width: 650px;
}

#threedesc p{
  line-height: 1.7em;
}

.keywordDesc{
  background-color: steelblue;
}

.graphic{
  margin: 50px auto;
  background-color: rgb(255,0,0, 0.05);
  height: 250px;
  width: 900px;
}





