<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>A Visualisation of Singapore's National Campaign Posters </title>

<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Tinos&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

<!-- CSS for D3 and Semantic UI -->

<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/grid.css">

<!-- D3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>

<script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>

<!-- Semantic UI -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="js/semantic.min.js"></script>

</head>

<body>

<div id ="container">

<!-- Nav Bar -->
<div class="ui secondary pointing menu" id = "navbar">
  <a class="active item" href = "#theIntro" id="theIntro-link">
    Intro</a>
  <a class="item" href = "#theDataset" id="theDataset-link">
    The Data</a>
  <a class="item" href = "#theEnvironment" id="theEnvironment-link">
    Environment</a>
  <a class="item" href = "#thePopulation" id="thePopulation-link">
    Population</a>
  <a class="item" href = "#theHealth" id="theHealth-link">
    Health</a>
  <div class="right menu">
    <a class="ui item" href = "#theAbout" id="theAbout-link">
    About</a></div>
</div>

<div id = "photoload" v-for="n in 304">
  <img v-bind:src="`./img/${n}.jpg`">
</div>

<section id = "theIntro">

<h1 class = "header">Singapore In Posters</h1>
<h3 class = "header">A Visualisation of <br>Singapore's National Campaign Posters from 1965 -2005</h3>
<p>By  AISHAH</p>

<div class = "content">

<p>National campaigns in Singapore, as defined by Tham (1986), are state initiated and inspired movements which have an organised and formal course of action, taken with the intent of arousing public awareness and influencing public behaviour. Singapore is named the ‘Campaign City’ because over 200 national campaigns have been organised in less than 40 years of independence.</p>

</div>
<img class = "banner" src = "./img/all.png">

<div class = "content">

<p>In the words of the first Prime Minister Lee Kuan Yew, Singapore had “campaigns to do this, campaigns to do that”. Speak good English. Two children are enough. Smile more. Do not litter. Wait! Have more than three children now…if you can afford it. Eat healthier and walk more. Do not smoke. And who can forget Singa the Lion and his courtesy campaigns until his untimely resignation in 2013? Or the public education campaigns during the 2003 SARS outbreak that brought with it the catchy-but-cringe-worthy Sar-Viror rap?</p>

<p>Strip all of it down, campaigns are essentially communication instruments to relay messages from a source to an intended audience. For this discussion, national campaigns refers to those originating from the state to reach out to the Singapore public. And every campaign comes with their own unique combination of promotional materials that manifest in the form of posters, jingles, mascots, taglines and slogans. With that many national campaigns organised, there is a trove of materials that have accumulated over the years. </p>

<p>National campaigns span over a wide variety of social issues. To a certain extent, posters produced for national campaigns are akin to commercial advertisements. Pollack describes advertisements as distorted mirrors that reflects a certain culture to reinforce messages that serves the interests of the advertisers. Parallel to this, could national campaigns posters also reflected how the state idealised the Singapore society? </p>

<p>With this in mind, posters produced for national campaigns can be used as an alternative lens to trace the changes in issues that had afflict the Singapore society over the years. The messages in each poster, coupled with the method of conveying said messages capture the zeitgeist of different time periods in Singapore’s history. This project explores print posters produced for Singapore's national campaigns on environmental, population and health issues between 1965 and 2005. The exploration visualises the chronological change in the objectives of the campaigns and the methods of persuasive appeal to relay the messages in the posters.</p>

<p>Admittedly, this piece cannot hold a candle to the already established works on Singapore’s sociohistorical literature that are based on highly credible sources. Yet, the value in this work stems from bringing forth nostalgic campaign posters for contemporary Singaporeans to contemplate on the social changes that have taken place over the years.</p>

<p>TL;DR I use national campaigns posters to visualise trends in their objectives and the types of message appeals to trace Singapore’s sociohistorical landscape. </p>
</div>
</section>

<!-- The Dataset -->
<section id = "theDataset">
<div class = "content">
<h4 class = "sectiontitle" >The Data</h4>

<p>There are 302 posters in the dataset. I specifically focused on three broad categories: health, environment and population-control. The graph below shows the posters arranged chronologically. Each rectangle represents a campaign poster from any one of the categories. These posters are courtesy of the National Archive of Singapore’s (NAS) digital database.</p>

<p class = "instr">Hover over the rectangles to see the posters in the dataset. The color of the rectangle denotes the category of the campaign. Click on the graph to show all the colours.</p>
</div>

<!--all the posters put here-->
<div id = "dataposter"></div>
</section>

<!-- Environment Posters -->
<section id = "theEnvironment">
<h2 class = "subheader">Environment</h2>
<img class = "banner" src = "./img/env_3.png">

<div class = "content">
<h4 class = "sectiontitle">Clean and Green, That’s My Singapore</h4>

<p>Singapore prides itself on being the “City in the Garden” – and it very well stands by that image. The city is shrouded with greenery - from the meticulously planted shrubs along the roads to the development of green spaces in various neighbourhood heartlands.</p>

<p>Yet, the perfectly manicured garden city that we see today is the culmination of the environmental education campaigns that started as early as 1958. Early environmental campaigns in the 1960s and 1970s were mainly advocating for the major clean-up of the city. 

<p>We needed to “[behave] more like first world citizens, not like third word citizens – spitting and littering all over the place”, said the first PM.</p>

<p>And so, campaigns such as the <hoverable-element content="Keep Singapore Clean (1968)" img="./img/39.jpg"></hoverable-element> were introduced to inculcate cleanliness in public areas such as work spaces, parks and common areas in the HDB estates. Posters reminded Singaporeans to <hoverable-element content="“bag your refuse”" img="./img/55.jpg"></hoverable-element> before throwing and <hoverable-element content="“just drop [the rubbish]”" img="./img/86.jpg"></hoverable-element> in the numerous public bins provided. This also included keeping Singapore mosquito free (1969) and pollution free (1970), as well as ensuring a clean water supply.</p>

<p>The <hoverable-element content="Tree Planting Campaign" img="./img/treeplanting.jpg"></hoverable-element> was also introduced during this decade. Alongside this campaign, public spaces were adorned with abundant lush greenery on top of the newly cleaned environment.</p>

<p>The massive clean-ups also saw the eradication of informal street hawking. Hawking food became came under the state's purview which required hawkers to have licences and stalls collectively housed under the hawker centres. Concurrent to this cleanliness movement was the attention to <hoverable-element content="food hygiene education campaigns" img="./img/40.jpg"></hoverable-element> that inculcated washing hands before consuming food and using clean culteries and tableware.</p>

<p>By the 1990s, environmental campaigns morphed beyond general cleanliness and hygiene issues with the launch of <hoverable-element content="The Singapore Green Plan" img="./img/53.jpg"></hoverable-element> in 1992, and the start of the yearly Clean and Green Week campaign. Sustainability and environmental awareness goals, such as the clichéd ‘reduce, reuse, recycle’, were introduced to discourage Singaporeans from wasteful consumption and mindful disposal of refuse. In part, this paralleled the global green movement that manifested in international cooperative efforts like 1992 The Earth Summit in Rio de Janeiro which Singapore had a part in.</p>

<p>Environmental campaigns also reflected events on the ground that are affecting the masses. The 2003 SARS outbreak in Singapore saw the launch of <hoverable-element content="Singapore OK" img="./img/65.jpg"></hoverable-element>  as part of the "We Care. We’re OK" campaign. It was a massive public education campaign to continuously remind Singaporeans on personal hygiene at home, in school, in public areas of high footfalls such as <hoverable-element content="hawker centres and public toilets" img="./img/66.jpg"></hoverable-element>. This campaign rallied solidarity among Singaporeans, appealing for individuals to do their part to fight against the common enemy, SARS.</p>

<p>Similarly, the spike in the dengue cases in the early 2000s mobilised anti-dengue campaigns that advocated <hoverable-element content="10-minute Mozzie Wipe-out" img="./img/73.jpg"></hoverable-element>. Posters warned Singaporeans of dangers of the dengue hemorrhagic fever from unintentionally breeding the Aedes mosquitos in their homes and work spaces. <hoverable-element content="“If they breed, you bleed”" img="./img/85.jpg"></hoverable-element> posters are often seen in the lift lobbies of public housing blocks and offices to remind Singaporeans to <hoverable-element content="“just tip”" img="./img/87.jpg"></hoverable-element> stagnant waters.</p>

<p class = "instr">The environmental issues mentioned above are visualised in the bar chart below. Each colour represents a general objective. Hover over the coloured boxes to see the posters and how their style have changed over the years.</p>

</div>

<!-- The side posters to show on hover -->
<div style="display:none;" id = "posterSide"><img src="/img/20.jpg"></div>

<!-- Environment graphic -->
<div class = "environmentsection">

<div id="envChart"></div>

<div id="envDesc">
  <hr>
  <h4>Hover over the coloured boxes!</h4>
  <h2 class = "subheader"></h2>
  <h3 style = "margin: 0; padding: 0; opacity: 0;">posters pertaining to</h3>
  <h2 id = "h3subcat"></h2>
</div>

</div>  

<!-- Environment Posters -->

<div class="ui five column grid" id="envGal">
  <div class="column" v-for="image in envGallery">
    <div class="ui fluid card">
      <div class="image">
        <img :src="image">
      </div>
    </div>
  </div>
</div>

</section>


<!-- Population Write-Up -->
<section id = "thePopulation">
<h2 class = "subheader">Population</h2>
<img class = "banner" src = "./img/pop.png">

<div class = "content">
<h4 class = "sectiontitle">Stop at Two...Wait! Have Three or More, If You Can</h4>

<p>How iconic is the “Stop at Two” policy? </p>
<p>Answer: Very. Because it is evidence for state intervention in Singaporean's private matters of child bearing. And till today, my grandmother who mothered 5 children recalled being given “Two is Enough” themed calendars to hang on her living room wall with each trip to the doctors in the 1970s.</p>

<p>There are four distinct phases to Singapore’s population trends based on the policies that changed over the years. These phases exist due state intervention to remedy Singapore's population growth and decline. We categorised the posters from the dataset based on these phases as shown below. </p>

<p style = "font-style: italic; font-size: 17px;  line-height: 1.2;">Note: Total fertility rate (TFR) -the Y-Axis- refers to the total number of children likely to be born to a woman in her lifetime according to the prevailing rate of age-specific fertility in the population. A TFR of 2.1 children per woman is also called the Replacement-level fertility (UN, Population Division). For instance, in 1960, when TFR was 5.76, a woman living in Singapore would potentially bear about 5-6 children. <br> Data is obtained from <a href = "https://www.singstat.gov.sg/find-data/search-by-theme/population/births-and-fertility/latest-data">here</a>.</p>
</div>

<!-- Population graphic -->
<div class = "populationsection">

<div id="popdesc">
  <hr>
  <h4>{{ phase }}</h4>
  <img :src = phaseImg>
</div>

</div>

<div id = "poplongdescription">
<p><hr>{{ phaseDesc }}</p>
</div>

<div class = "content">
<p>But majority would be most familiar with the “Stop at Two” phase and “Have Three or More…If You Can Afford It” phase, aptly named after the respective national population campaigns that were launched. These two phases are polarisingly different since the former was more anti-natalist while the latter was pro-family.
Thus, an interesting observation from comparing both phases is the way the family unit is depicted in the posters over time. In turn, this hints at the ideal family unit which the state promotes in each time period. Family is represented is in the form of visual photographs/illustrations and/or texts in the posters.</p>

<h4 class = "sectiontitle">“Stop at Two”</h4>
<p>These are keywords that frequently appear in national campaign posters which describe the ideal family during the “Stop at Two” phase. The depicted ideal family is small, comprising of two children (regardless of gender) with some years between them, and with two married adult parents.</p>

<p class = "instr">Hover over the words to view the relevant posters and their accompanying explanations!</p>
</div>

<div class = "graphic">
<svg id = "populationSVG" viewBox="0 0 200 80" xmlns="http://www.w3.org/2000/svg">
  <text x="10" y="20" class="medium pop-keywords" id="better-more-text">better & more</text>
  <text x="40" y="45" class="heavy pop-keywords" id="girl-or-boy-text">girl or boy</text>
  <text x="20" y="64" class="small pop-keywords" id="wait-for-it-text">wait for it</text>
  <text x="80" y="78" class="Rrrrr pop-keywords" id="two-text">TWO</text>
</svg>

<div class="ui four column grid" id = "populationSVGposters">
  <div class="column" v-for="img in imagespop">
    <div class="ui fluid card">
      <div class="image">
        <img :src="img">
      </div>
    </div>
  </div>
</div>
</div>

<div id="test" v-html="parapop">
</div>



<div class = "content">
<h4 class = "sectiontitle">“Have Three or More…If You Can Afford It”</h4>

<p>If the “Two or More” phase was anti-natalist, with their abortion legalisation and financial incentives for sterilisation, this phase is the polar opposite. 
It seemed that the previous anti-natalist policies worked just a little too well, given that the total fertility rate for Singapore’s population decreased from 4.66 in 1965 to 1.43 by 1986. Within a span of 20 years, women in Singapore went from have an average of 4-5 children to only 1-2 children.</p>
<p>Fast-forward into the future, we know that total fertility rate has only been dismally decreasing since then. The launch of the “Have Three or More” campaign signals the start of the pro-natalist phase to encourage families to have at least three children. During this phase, the ideal family unit and the state’s stance on family is reinvented as depicted in the posters below.</p>
</div>

<div class = "graphic">
<svg id = "populationSVG" viewBox="0 0 200 80" xmlns="http://www.w3.org/2000/svg">
  <text x="10" y="20" class="medium pop-keywords2" id = "children-text">children</text>
  <text x="40" y="45" class="heavy pop-keywords2" id = "family-time-text">family time</text>
  <text x="80" y="69" class="Rrrrr pop-keywords2" id ="parents-text">parents</text>
</svg>

<div class="ui four column grid" id = "threeSVGposters">
  <div class="column" v-for="img in imagespop2">
    <div class="ui fluid card">
      <div class="image">
        <img :src="img">
      </div>
    </div>
  </div>
</div>

</div>
<div id="threedesc" v-html="parapop2">
</div>


</section>


<!-- Health Write-Up -->
<section id = "theHealth">
<h2 class = "subheader">Health</h2>
<img class = "banner" src = "./img/health.png">
<div class = "content">
<h4 class = "sectiontitle">The Health Issues that We Worry About</h4>
<p>What’s something that money that can’t buy? Good health.</p>
<p>And healthcare in Singapore is pretty darn efficient. We are ranked among the top for efficient healthcare systems and for healthiest country. In 2019, healthcare again got a large slice from the Budget pie making it “more affordable, accessible, and comprehensive”.</p>
<p>The Ministry of Health, formed in 1959, supervises healthcare in Singapore. The National Healthy Lifestyle campaign was first launched in 1992 by the Ministry of Health and has been making a yearly comeback ever since. As a multipronged health campaign, it covers aspects such as promoting healthy diets and dental health, public awareness on chronic diseases and discouraging smoking habits among Singaporeans. The Health Promotion Board was established in 2001 as a separate government organisation to further the agenda of promoting healthy living in Singapore.</p>
<p>We categorised 200 national campaign posters from 1965-2005 produced by these two organisations below:</p>
</div>

<!-- Health graphic -->
<div class = "healthsection">
</div>

<div class = "content">
<img src =  "./img/cloud.png" align = "right" width = "290px">

<h5 class = "sectiontitle" style = "font-size: 18px;">Diseases and Ailments</h5>

<p>Disease-related posters make up a substantial proportion of the health posters. From these posters, it is possible to see the diseases that are prevalent in the Singapore society, and at which time periods the occur in. Common conditions that affect Singaporeans, as identified by the MOH, includes asthma, coronary heart disease, diabetes mellitus, hypertension, mental health, osteoporosis, pneumonia, stroke, and tuberculosis. At the same time, charting the diseases by year also highlights the periods of disease outbreaks the society had experienced over time. For instance, the SARS outbreak of 2003 and the AIDS awareness phase of 1985 are prominent spikes in the dataset.</p>

<p class = "instr"> Each rectangle represents a disease-related poster. Hover over the rectangles to view the posters. Click on the diseases to learn more about them.</p>
</div>


<div id = "disease">


<div style="display: none;" id = "heathSide"><img src="/img/1.jpg"></div>

<ul>
  <li onclick="changeColor('aids', 'steelblue', 'The first case of HIV infection in Singapore was diagnosed in May 1985. That same year, the national programme to educate the public on AIDS was launched. AIDS-related posters constitute a large proportion of the dataset. A study conducted in 1991 showed that the level of knowledge of among Singaporeans on AIDS is comparable to that in a developing country like the USA after the course of these campaigns.')">AIDS</li>
  <li onclick="changeColor('sars', 'green', 'In 2003, Singapore was struck with the severe acute respiratory syndrome (SARS) outbreak. MOH produced SARS-related posters that advocated cautionary measures to take to prevent the spread of SARS in public spaces. These were aligned with the “Singapore OK” campaign which aimed tp raised public awareness on personal hygiene practices and good sanitary habits.')">SARS</li>
  <li onclick="changeColor('others', 'grey',  'Of course there are other types of disease that are prevalent in Singapore. However, due to limitations of the dataset, the count of these posters are less than 3, thus they are grouped under `Others`. These diseases include tuberculosis, stroke, cholera, yellow fever, hand foot mouth disease, osteoporosis and heart attack.<br>')">Others</li>
</ul>

</div>
</section>


<!-- About section -->

<section id = "theAbout" style = "margin: 100px 0;">
<div class = "content">

<hr>
<h2 class = "subheader">About</h2>
<p>Hi! Singapore in Posters is a deliverable for the Independent Research Project under the <a href = "https://urbanscience.sutd.edu.sg/curriculum/">MSc. Urban Science, Policy and Planning </a>course at the Singapore University of Technology and Design. This project is supervised by <a href = "https://hass.sutd.edu.sg/faculty/nazry-bahrawi/"> Dr Nazry Bahrawi</a>.</p>
<p>I wanted to create an interactive website that could tell a story from the posters found in the Singapore’s National Archive. For the sake of time, I focused on three broad categories of campaigns: population-control, health and environment. In doing so, I could trace the issues that occured over the years and also how the state intervenes using national campaigns to reach out to the Singapore public.</p>
<p>This would not have been possible if it hadn't been for following people and organisations:</p>
<ul>
  <li><a href = "http://www.nas.gov.sg/archivesonline/posters/">National Archives of Singapore</a> where all the posters for this project are derived from. They have a whole lot of other interesting materials in the archives! </li>
  <li> Everyone from MUSPP Class of 2019 for their inputs in this projects and especially <a href = "https://hass.sutd.edu.sg/faculty/ate-poorthuis/">Prof. Ate Poorthuis</a> for coordinating this course and introducing me to data viz!</li>
  <li>Special mention to SK for getting me up to speed with D3 and Vue.js, especially in the second half of the course! He has a pretty dope project on AI which you can check out <a href = "http://machinesgonewrong.com">here</a>!</li> 
</ul> 

</div>
</section>

</div>


<!-- Script to hover and reveal posters -->
<script type= "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
<script src="js/hoverable.js"></script>
<script type= "text/javascript">

var vm = new Vue({
  el: '#container',
  components: {
    "hoverable-element": hoverableVar
  },
  mounted: function() {
    window.addEventListener("scroll", this.onScroll)
  },
  data: function () {
    return {
    showNavbar: true,
    lastScrollPosition: 0,
    hover: false,
    envGallery: [],
    phase: "Hover over the coloured boxes!",
    phaseDesc: "Hover over the colored boxes for the descriptions of the phases",
    phaseImg: "", 
    imagespop: [],
    parapop: "", 
    keywordpop: "",
    imagespop2: [],
    parapop2: "", 
    keywordpop2: ""
    }
  },
  methods: {
    onScroll: function() {
      sections = ["theIntro","theDataset", "theEnvironment", "thePopulation", "theHealth"]
      body = document.body.getBoundingClientRect().top
      const currentScrollPos = window.pageYOffset || document.documentElement.scrollTop
      currentSection = "theIntro"
      sections.forEach(sectionId => {
        sectionPos = document.getElementById(sectionId).getBoundingClientRect().top - body
        if (currentScrollPos + 20 > sectionPos) currentSection = sectionId
      })
      // console.log(currentSection)
      this.makeActive(currentSection)
    }, 
    makeActive: function(sectionID) {
      d3.selectAll(".menu .item").classed("active", false)
      d3.select("#" + sectionID + "-link").classed("active", true)
    }
}})

</script>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-70px";
  }
  prevScrollpos = currentScrollPos;
}
</script>

<script src="js/population.js"></script>
<script src="js/popword.js"></script>
<script src="js/popword2.js"></script>
<script src="js/env.js"></script>
<script src="js/all.js"></script>
<script src="js/disease.js"></script>
<script src="js/main.js"></script>


</body>
</html>


 <!-- <div class="ui five item secondary menu">
  <a class="active item">
    Home
  </a>
  <a class="item" href = "population.html">
    Population
  </a>
  <a class="item">
    Health
  </a>
  <a class="item">
    Environment
  </a>
</div>
 -->